

body {
    font-family: 'Balsamiq Sans', cursive;
}

.col-md-4 {
    padding: 10px;
    text-align: center;
    color: grey;
}


.card {
    padding: 10px;
    margin-bottom: 10px;
}

#search-history {
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.city-btn {
    background-color: #ffd9ec;
}


.form-control {
    padding:40px 20px;
    margin: 5px;
    display: block;
}

.btn-primary{
    padding: 5px;
    margin: 5px;
    display: block;
    width: 100%;
}

.uv-index {
    color: #ee4f4f;
}

#five-day-weather {
    display: flex;
    position: relative;
}

.display-fiveday {
    background-color: #ffd9ec;
    border-radius: 10px;
    width: 80px;
    height: 180px;
    padding: 5px;
    margin: 10px;
    text-align: center;
   
}

